* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #d4f7e5 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.diagonal-line {
    background: linear-gradient(315deg, #000000 50%, #ffffff 50%);
    background-size: 100% 100%;
  }

.login-container {
    background-color: #ffffffae;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  4px 8px rgba(1, 1, 1, 0.575);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #45af49;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.signup-link {
    margin-top: 20px;
    color: #555;
}

.signup-link a {
    color: #45af49;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
